<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Unauthorized Access:: Python Flask  App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 <link href="static/css/home.css" rel="stylesheet"> 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="/showSignin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
           <br>
            <h3 class="text-muted">Python Flask App</h3>
 <br>        
</div>
 
        <div class="jumbotron">
            <h1>{{error}}</h1>
        </div>
 
 
        <a href="/showSignin"> Take me back to SignIn Page </a> 
 
    </div>
</body>
 
</html>
