<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="static/css/home.css" rel="stylesheet">
 
 <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Cherry+Swash'> 
</head>
 
<body>
<br>
<br> 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Python Flask App</h3>
<br>
</div>
 
        <div class="jumbotron">
            <h1>Welcome Home !!</h1>
 
        </div>
        

<nav>
	<a href="/userHome">Home</a>
	<a href="/about">About</a>
	<a href="/showcustomer">Customer</a>
	<a href="/contact">Contact</a>
       <a href="/logout">Logout</a>
	<div class="animation start-home"></div>
</nav> 
 
 
    </div>
</body>
 
</html>
